
<!DOCTYPE html>
<html>
<head>
  <title>CineClub</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <style>
    body{
    background-color:#000;
    }
  </style>
</head>
<body>
<header class="col-9 mx-auto">
<nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid">
    <a class="navbar-brand fs-1 text-white " href="#">CineClub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-white  fs-5" aria-current="page" href="#">Home</a>
        <a class="nav-link text-white  fs-5 " href="#">Preços</a>
        <a class="nav-link text-white   fs-5" href="#">Registrar</a>

      </div>
    </div>
  </div>
</nav>
</nav>
</header>
<!----->
<div id="carouselExampleFade" class="carousel slide carousel-fade col-9 mx-auto">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://wallpapers.com/images/hd/movie-theater-background-3840-x-2160-39tg1bipbaeasplf.jpg" class="d-block w-100 rounded" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://c1.wallpaperflare.com/preview/330/534/353/seat-chair-theatre-dark.jpg" class="d-block w-100 rounded" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://wallpapers.com/images/hd/movie-theater-background-1920-x-1080-m8lgmi3phbifh2za.jpg" class="d-block w-100 rounded" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <div class="container text-center">
  <button type="button" class=" btn btn-lg btn-dark">
    <p>BLABLABLA</p>
      <p>BLABLABLA</p>
  </button>
  <button type="button" class=" btn btn-lg btn-dark">
        <p>BLABLABLA</p>
      <p>BLABLABLA</p>
  </button>
  <button type="button" class=" btn btn-lg btn-dark">
        <p>BLABLABLA</p>
      <p>BLABLABLA</p>
  </button>
    <button type="button" class=" btn btn-lg btn-dark">
          <p>BLABLABLA</p>
      <p>BLABLABLA</p>
    </button>
    <button type="button" class=" btn btn-lg btn-dark">
          <p>BLABLABLA</p>
      <p>BLABLABLA</p>
    </button>
    <button type="button" class=" btn btn-lg btn-dark">
          <p>BLABLABLA</p>
      <p>BLABLABLA</p>
    </button>
    <button type="button" class=" btn btn-lg btn-dark">
          <p>BLABLABLA</p>
      <p>BLABLABLA</p>
    </button>
    </div>

<!---->


<!--cartaz--->
<div class=" col-9 mx-auto w-80">
  <div >
      <p class="fs-1 text-white text-center ">CARTAZ</p>
  </div>
<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">

<div class="row row-cols-8 row-cols-md-6 g-4 col-xs-2 col-md-5 col-9 mx-auto w-100">

  <div class="col">
    <div class="card  bg-dark ">
              <button type="button" class=" btn btn-lg btn-dark">
      <img src="https://viagemempauta.com.br/wp-content/uploads/2024/03/oCorvo_Poster.jpg" class="card-img rounded  " alt="...">

          <p class=" fs-4">O CORVO</p>

    </button>

    </div>
  </div>

    <div class="col">
    <div class="card  bg-dark ">
        <button type="button" class=" btn btn-lg btn-dark">
      <img src="https://s2-gshow.glbimg.com/oQQhnGcszJuBbQcmLGrQ4dQ8MWE=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_e84042ef78cb4708aeebdf1c68c6cbd6/internal_photos/bs/2024/D/J/fxLH8uRy2EpWUdAaASSg/marvelbrasil-449856715-1042043654208676-4375915367499994888-n.jpg" class="card-img rounded  " alt="...">

          <p class=" fs-4">DEADPOOL E WOLVERINE</p>

    </button>

  </div>
    </div>

    <div class="col">
    <div class="card  bg-dark">
             <button type="button" class=" btn btn-lg btn-dark">
      <img src="https://br.web.img3.acsta.net/pictures/24/03/13/18/12/0415477.jpg" class="card-img rounded  " alt="...">

          <p class=" fs-4">HAROLD E O LAPIZ MAGICO</p>

    </button>

    </div>
  </div>

   <div class="col">
    <div class="card  bg-dark">
             <button type="button" class=" btn btn-lg btn-dark">

      <img src="https://blog.quizur.com/wp-content/uploads/2024/08/MV5BYzM2NGMzNGQtZjNhMi00MTVkLTg2ZGQtN2M4OTllYzU1Y2Y0XkEyXkFqcGc@._V1_-scaled.webp" class="card-img rounded  " alt="...">

          <p class=" fs-4">É ASSIM QUE ACABA</p>

    </button>

    </div>
  </div>

   <div class="col">
    <div class="card  bg-dark">
             <button type="button" class=" btn btn-lg btn-dark">
      <img src="https://ingresso-a.akamaihd.net/prd/img/movie/pisque-duas-vezes/baecca25-2b04-44a2-bf68-786847caafa4.webp" class="card-img rounded  " alt="...">

          <p class=" fs-4">PISQUE DUAS VEZES</p>

    </button>

    </div>
  </div>

   <div class="col">
    <div class="card  bg-dark">
             <button type="button" class=" btn btn-lg btn-dark">
      <img src="https://br.web.img3.acsta.net/img/f7/3f/f73f9866d60260b8d9d3c9ff0ab6c698.jpg" class="card-img rounded  " alt="...">

          <p>PRINCESA ADORMECIDA</p>

    </button>

    </div>
  </div>

<!---botoes----->

  </div>
</div>
  </div>
</div>
</div>

<!-----Pre venda--->

<div class=" col-9 mx-auto w-80">
  <div >
      <p class="fs-1 text-white text-center ">PRÉ-VENDA</p>
  </div>
<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">

<div class="row row-cols-8 row-cols-md-6 g-4 col-xs-2 col-md-5 col-9 mx-auto w-100">

  <div class="col">
    <div class="card  bg-dark ">
              <button type="button" class=" btn btn-lg btn-dark">
      <img src="https://viagemempauta.com.br/wp-content/uploads/2024/03/oCorvo_Poster.jpg" class="card-img rounded  " alt="...">

          <p class=" fs-4">O CORVO</p>

    </button>

    </div>
  </div>

    <div class="col">
    <div class="card  bg-dark ">
        <button type="button" class=" btn btn-lg btn-dark">
      <img src="https://s2-gshow.glbimg.com/oQQhnGcszJuBbQcmLGrQ4dQ8MWE=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_e84042ef78cb4708aeebdf1c68c6cbd6/internal_photos/bs/2024/D/J/fxLH8uRy2EpWUdAaASSg/marvelbrasil-449856715-1042043654208676-4375915367499994888-n.jpg" class="card-img rounded  " alt="...">

          <p class=" fs-4">DEADPOOL E WOLVERINE</p>

    </button>

  </div>
    </div>

    <div class="col">
    <div class="card  bg-dark">
             <button type="button" class=" btn btn-lg btn-dark">
      <img src="https://br.web.img3.acsta.net/pictures/24/03/13/18/12/0415477.jpg" class="card-img rounded  " alt="...">

          <p class=" fs-4">HAROLD E O LAPIZ MAGICO</p>

    </button>

    </div>
  </div>

   <div class="col">
    <div class="card  bg-dark">
             <button type="button" class=" btn btn-lg btn-dark">

      <img src="https://blog.quizur.com/wp-content/uploads/2024/08/MV5BYzM2NGMzNGQtZjNhMi00MTVkLTg2ZGQtN2M4OTllYzU1Y2Y0XkEyXkFqcGc@._V1_-scaled.webp" class="card-img rounded  " alt="...">

          <p class=" fs-4">É ASSIM QUE ACABA</p>

    </button>

    </div>
  </div>

   <div class="col">
    <div class="card  bg-dark">
             <button type="button" class=" btn btn-lg btn-dark">
      <img src="https://ingresso-a.akamaihd.net/prd/img/movie/pisque-duas-vezes/baecca25-2b04-44a2-bf68-786847caafa4.webp" class="card-img rounded  " alt="...">

          <p class=" fs-4">PISQUE DUAS VEZES</p>

    </button>

    </div>
  </div>

   <div class="col">
    <div class="card  bg-dark">
             <button type="button" class=" btn btn-lg btn-dark">
      <img src="https://br.web.img3.acsta.net/img/f7/3f/f73f9866d60260b8d9d3c9ff0ab6c698.jpg" class="card-img rounded  " alt="...">

          <p>PRINCESA ADORMECIDA</p>

    </button>

    </div>
  </div>

<!---botoes----->

  </div>
</div>
  </div>
</div>
</div>


<!---EM BREVE--->

<div class=" col-9 mx-auto w-80">
  <div >
      <p class="fs-1 text-white text-center ">EM BREVE</p>
  </div>
<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">

<div class="row row-cols-8 row-cols-md-6 g-4 col-xs-2 col-md-5 col-9 mx-auto w-100">

  <div class="col">
    <div class="card  bg-dark ">
              <button type="button" class=" btn btn-lg btn-dark">
      <img src="https://viagemempauta.com.br/wp-content/uploads/2024/03/oCorvo_Poster.jpg" class="card-img rounded  " alt="...">

          <p class=" fs-4">O CORVO</p>

    </button>

    </div>
  </div>

    <div class="col">
    <div class="card  bg-dark ">
        <button type="button" class=" btn btn-lg btn-dark">
      <img src="https://s2-gshow.glbimg.com/oQQhnGcszJuBbQcmLGrQ4dQ8MWE=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_e84042ef78cb4708aeebdf1c68c6cbd6/internal_photos/bs/2024/D/J/fxLH8uRy2EpWUdAaASSg/marvelbrasil-449856715-1042043654208676-4375915367499994888-n.jpg" class="card-img rounded  " alt="...">

          <p class=" fs-4">DEADPOOL E WOLVERINE</p>

    </button>

  </div>
    </div>

    <div class="col">
    <div class="card  bg-dark">
             <button type="button" class=" btn btn-lg btn-dark">
      <img src="https://br.web.img3.acsta.net/pictures/24/03/13/18/12/0415477.jpg" class="card-img rounded  " alt="...">

          <p class=" fs-4">HAROLD E O LAPIZ MAGICO</p>

    </button>

    </div>
  </div>

   <div class="col">
    <div class="card  bg-dark">
             <button type="button" class=" btn btn-lg btn-dark">

      <img src="https://blog.quizur.com/wp-content/uploads/2024/08/MV5BYzM2NGMzNGQtZjNhMi00MTVkLTg2ZGQtN2M4OTllYzU1Y2Y0XkEyXkFqcGc@._V1_-scaled.webp" class="card-img rounded  " alt="...">

          <p class=" fs-4">É ASSIM QUE ACABA</p>

    </button>

    </div>
  </div>

   <div class="col">
    <div class="card  bg-dark">
             <button type="button" class=" btn btn-lg btn-dark">
      <img src="https://ingresso-a.akamaihd.net/prd/img/movie/pisque-duas-vezes/baecca25-2b04-44a2-bf68-786847caafa4.webp" class="card-img rounded  " alt="...">

          <p class=" fs-4">PISQUE DUAS VEZES</p>

    </button>

    </div>
  </div>

   <div class="col">
    <div class="card  bg-dark">
             <button type="button" class=" btn btn-lg btn-dark">
      <img src="https://br.web.img3.acsta.net/img/f7/3f/f73f9866d60260b8d9d3c9ff0ab6c698.jpg" class="card-img rounded  " alt="...">

          <p>PRINCESA ADORMECIDA</p>

    </button>

    </div>
  </div>

<!---botoes----->

  </div>
</div>
  </div>
</div>
</div>

<footer>

</footer>

</body>