{% extends 'base.html' %}


{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-11"><h1 class=" text-white ">Tabela de Salas</h1></div>
       <div class="col-1 "><button class=" btn btn-dark"><a class="text-white" href="{% url 'reserva_list' %}">Cadastro</a></button></div>
    </div>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th class="text-white">Sala</th>
                    <th class="text-white">Categoria</th>
                    <th class="text-white">Filme</th>
                    <th class="text-white">Data</th>
                    <th class="text-white">Duração</th>
                    <th class="text-white">responsavel</th>
                    <th class="text-white">email</th>

                </tr>
            </thead>
            <tbody>
                {% for sala in reserva_list %}
                    <tr>
                        <td class="text-white">{{ sala.sala }}</td>
                        <td class="text-white">{{ sala.categoria }}</td>
                        <td class="text-white">{{ sala.filme }}</td>
                        <td class="text-white">{{ sala.data }}</td>
                        <td class="text-white">{{ sala.horario }}</td>
                        <td class="text-white">{{ sala.nome_responsavel }}</td>
                         <td class="text-white">{{ sala.email }}</td>
                        <td><a button type="button" method="GET" class="btn btn-dark"  href="{% url 'edicao' sala.pk %}">Editar</abutton></a>
                            <a button type="button" method="POST" class="btn btn-dark"  href="{% url 'delete' sala.pk %}">Deletar</abutton></a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}